*{
    margin: 0px;
    padding: 0px;
}

body{
    display: grid;
    grid-template-rows: 1fr 9fr;
}

body > h1{
    display: flex;
    justify-content: center;
    padding: 25px 0px;
}

.container{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    height: 50vh;
}

.temp{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
}

.board-box{
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(3, 100px);
    padding-top: 20vh;
}

.section{
    border: 2px solid black;
    justify-items: center;
}

.section:hover{
    background-color: #c5c3c6;
}

.section:active{
    background-color: grey;
}

.section:disabled{
    color: black;
    font-size: 6vh;
}


.reset-section{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding-top: 25px;
}

.win-div{
    display: flex;
    justify-content: center;
    justify-items: center;
    padding-top: 10vh;
    font-size: 100px;
    text-align: center;
}