*{
    margin: 0px;
    padding: 0px;
}

body{
    display: grid;
    grid-template-rows: 1fr 9fr;
    border: 2px solid red;
}

body > h1{
    display: flex;
    justify-content: center;
    padding: 25px 0px;
}

.container{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    height: 50vh;
    border: 2px solid blue;
}

.temp{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 50px
}

.board-box{
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(3, 100px);
    border: 2px solid red;
}

.section{
    border: 2px solid red;
}

.button-section{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding-top: 25px;
}